ipykernel
ipywidgets
pandas
tqdm
wfdb
icd-mappings
resampy
torch
torchvision
scikit-image
scikit-learn
lightning
einops
opt-einsum
mlflow
tensorboard
tensorboardX
pykeops
# waitress # windows
h5py
h5pickle